<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated GDPR -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="mdpa.gdpr.metamodel.GDPR.presentation.GDPRModelWizardID"
            name="%_UI_GDPRModelWizard_label"
            class="mdpa.gdpr.metamodel.GDPR.presentation.GDPRModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GDPRModelFile.gif">
         <description>%_UI_GDPRModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated GDPR -->
      <editor
            id="mdpa.gdpr.metamodel.GDPR.presentation.GDPREditorID"
            name="%_UI_GDPREditor_label"
            icon="icons/full/obj16/GDPRModelFile.gif"
            extensions="gdpr"
            class="mdpa.gdpr.metamodel.GDPR.presentation.GDPREditor"
            contributorClass="mdpa.gdpr.metamodel.GDPR.presentation.GDPRActionBarContributor">
      </editor>
   </extension>

</plugin>
